<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Online Center
  </h1>
</div>

<div class="container">

  <label for="name">Enter Name</label>
  <br>
  <input type="text" name="name" #inputName required/>
  <br>
  <label for="password">Enter Password</label>
  <br>
  <input type="password" name="password" #inputPassword required/>
  <br>
  <br>

  <button btn btn-primary (click)=login($event,inputName,inputPassword)>Login</button>
  <button btn btn-primary (click)="inputName.value=''" (click)="inputPassword.value=''">Clear</button>
  <br>
  <br>
  <br>

  <div class="continer" *ngIf="allowDenyflag">

    <fieldset class="form-group">
      <legend>Authorization Validation</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" [(ngModel)]="radio" value="allow" (change)="authorize()"> Allow
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" [(ngModel)]="radio" value="deny" (change)="authorize()"> Deny
        </label>
      </div>
    </fieldset>

  </div>

</div>